
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Session["FullName"] Congratulations!!!   </h1>
<h2>you are successfully logged in [and Landed a Job :) ]  </h2>
<a href="/User/Logout"><h3>Click Here To Logout</h3></a>

